<form
  #myForm="ngForm"
  [ngFormOptions]="{ updateOn: 'submit' }"
  (ngSubmit)="register($event, myForm)"
>
  <fieldset>
    <legend>Registration</legend>
    <label>First name:</label>
    <!-- <input type="text" name="firstName" ngModel required />
    <div class="error" *ngIf="myForm.controls.firstName?.errors?.required">
      First name is required!
    </div> -->
    <input type="text" name="firstName" #firstName="ngModel" ngModel required />
    <div
      class="error"
      *ngIf="firstName.hasError('required') && firstName.touched"
    >
      First name is required!
    </div>
    <br />
    <label>Last name:</label>
    <input
      type="text"
      name="lastName"
      #lastName="ngModel"
      ngModel
      required
      minlength="2"
    />
    <div
      class="error"
      *ngIf="lastName.hasError('required') && lastName.touched"
    >
      Last name is required!
    </div>
    <br />
    <label>Email:</label>
    <input type="text" name="email" ngModel email />
    <br />
    <label>Phone:</label>
    <input type="text" name="phoneNumber" ngModel pattern="^[0-9\-]*" />
    <br />
    <label>Gender:</label>
    <input type="radio" name="gender" value="0" ngModel required />Male
    <input type="radio" name="gender" value="1" ngModel required />Female
  </fieldset>
  <button type="submit" [disabled]="myForm.invalid && false">Save</button>
  <button type="reset">Reset</button>
</form>

<pre
  >{{ myForm.value | json }}
</pre>
